<!doctype html>
<html>
  <head>
    <title>JoyStation Static</title>
    <meta charset="utf-8">
    <meta content="width=device-width,user-scalable=no" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    <link rel="apple-touch-icon" href="favicon.png">
    <script src="https://unpkg.com/vue@2.5.13/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vue-ls@2.3.3/dist/vue-ls.min.js"></script>
    <script src="https://unpkg.com/vec2@1.6.0/vec2.min.js"></script>
    <!-- <script src="https://github.com/hsluv/hsluv/releases/download/v0.0.1/hsluv.min.js"></script> -->
    <style>
      *{
        box-sizing: border-box;
      }
      html{
        font-size:8vmin;
        background-color:#fff07e;
      }
      body{
        margin:0;
      }
      .face{
        fill:#19333f;
        stroke:#1c4355;
        stroke-width:15px;
        stroke-linecap:round;
        stroke-linejoin:round;
      }

      .range-wrapper {
        border-radius: 0.5rem;
        overflow:hidden;
        background-color:red;
        height:1rem;
      }

      .mood-range {
        -webkit-appearance: none;
        margin:0;
        width: 100%;
      }
      .mood-range:focus {
        outline: none;
      }
      .mood-range::-webkit-slider-runnable-track {
        width: 100%;
        height: 1rem;
        padding:0.05rem;
        border-radius: 0.5rem;
        border: none;        
        cursor: pointer;
        
        background: #b6df9b;
        background: linear-gradient(to right,#fc3f05 0%,#ae96ac 50%,#00b7b9 100%);
      }
      .mood-range::-webkit-slider-thumb {
        height: 0.9rem;
        width: 0.9rem;
        border: none;
        border-radius: 0.45rem;
        background: white;
        cursor: pointer;
        -webkit-appearance: none;
      }
      .mood-range:focus::-webkit-slider-runnable-track {
        background: linear-gradient(to right, #1e5799 0%,#7db9e8 100%);
      }

      #admin{
        background-color:white;
      }
    </style>
  </head>

  <body>
    <div id="app">

      <div id="admin" v-if="adminMode">
        <h1>Settings</h1>
        <input type="text" v-model="analyticsKey">
        <input type="text" v-model="category">
        <input type="text" v-model="action">
        <input type="text" v-model="label">
        <input type="number" v-model="joyDefault">
        <input type="number" v-model="joy">
        <input type="number" step="0.1" v-model="thanksDelay" min="0" max="500">
      </div>

      <div v-if="answerMode">
        <p>{{action}}</p>

        <svg width="768" height="500" viewBox="0 -50 400 300" @mousedown="down" @mousemove="move" @mouseup="up" @touchstart="down" @touchmove="move" @touchend="up">
          <defs>
            <path id="negative2" d="M 60,220  C 90,90 310,90  340,220  310,200 90,200  60,220 z"/>
            <path id="negative1" d="M 60,140  C 90,90 310,90  340,140  310,100 90,100  60,140 z"/>
            <path id="positive1" d="M 60,120  C 90,150 310,150  340,120  310,160 90,160  60,120 z"/>
            <path id="positive2" d="M 60,120  C 90,110 310,110  340,120  310,270 90,270  60,120 z"/>
          </defs>
          <ellipse class="face"
            id="eyeLeft"
            cx="90.654274"
            cy="11.090343"
            rx="14.882919"
            ry="12.558451"/>
          <ellipse class="face"
            id="eyeRight"
            ry="12.558451"
            rx="14.882919"
            cy="9.9281092"
            cx="309.15433"/>
          <path class="face"
            id="mouth"
            :d="mouthData"/>
          <!-- <path class="face"
            id="mouth"
            d="M 60,220  C 90,90 310,90  340,220  310,200 90,200  60,220 z"/> -->
        </svg>
        
        <div class="cushion">
          <div class="range-wrapper">
            <input class="mood-range" type="range" min="-200" max="200" v-model="joy" @mouseup="activated=true" @touchstart="activated=true">
          </div>
        </div>

        <div class="cushion-sides">
          <button v-if="activated" @touchstart="done" @mouseup="done">Send</button>
        </div>
      </div>
      <div v-else style="align-content: space-evenly; height:100%;">
        <p>Thanks!</p>
        <!-- <img src="/static/logo-md.svg"> -->
      </div>
    </div>
    <script>
      /* JoyStation Logic pseudo-code walkthrough

      Compare screen dimensions to viewport dimensions
        If they don't match up, prompt admin settings
      If in admin mode show admin panel
        allow changing of the question, location, context, delay, etc
        allow changing of google analytics tracking code
      If in regular mode
        if in prompt mode
          allow vertical swiping on face to change joy value
          allow horizontal slider to change joy value
          if joy value has been changed
            show submit button
            if button is pressed
              switch to thanks mode
        If in thanks mode
          display "thanks"
          switch back to prompt mode after the delay completes.
      */

      function lerp(v0, v1, t) {
        return v0*(1-t)+v1*t
      }

      function lerpArray(value1, value2, t, out) {
        if (typeof value1 === 'number'
            && typeof value2 === 'number') {
          return lerp(value1, value2, t)
        } else { //assume array
          var len = Math.min(value1.length, value2.length)
          out = out||new Array(len)
          for (var i=0; i<len; i++) {
            // console.log( Number(value1[i]), Number(value2[i]));
            if (!isNaN(value1[i])
                && !isNaN(value2[i])) 
              out[i] = lerp(value1[i], value2[i], t)
            else
              out[i] = value1[i]
          }
          return out
        }
      }

      var pressed = false;
      var thisPoint = Vec2(150,165);

      ////// Vue

      Vue.use(VueLocalStorage)

      var app = new Vue({
        el: '#app',
        data:{
          adminMode: false,
          answerMode: true,
          joyDefault: 50,
          joy: 50,
          activated: false,
          thanksDelay: 2.000,
          category: '',
          action:'never changed',
          label:'',
          analyticsKey:''
        },
        watch: {
          action: function(val) {
            Vue.ls.set('action',val)
            console.log('changing the action')
          }
        },
        created: function() {
          this.action = Vue.ls.get('action', 'local storage default');
          var self = this;
          Vue.ls.on('action', function(val) {
            self.counter = val;
          });
        },
        computed: {
          mouthData() {
            // return `M 60,140  C 90,${this.joy*80+140} 310,${this.joy*80+140}  340,140`
            var svgDataPattern = /\d+|\w/g;
            var negative2 = document.querySelector('#negative2').getAttributeNS(null,'d').match(svgDataPattern);
            var negative1 = document.querySelector('#negative1').getAttributeNS(null,'d').match(svgDataPattern);
            var positive1 = document.querySelector('#positive1').getAttributeNS(null,'d').match(svgDataPattern);
            var positive2 = document.querySelector('#positive2').getAttributeNS(null,'d').match(svgDataPattern);
            // console.log(datumNeg1)

            var A = '';
            var B = '';
            var t=0;

            if(this.joy >= -200 && this.joy <= -100){
              A = negative2;
              B = negative1;
              t = (Number(this.joy) + 200) / 100
            }
            if(this.joy > -100 && this.joy <= 100){
              A = negative1;
              B = positive1;
              t = (Number(this.joy) + 100) / 200
            }
            if(this.joy > 100 && this.joy <= 200){
              A = positive1;
              B = positive2;
              t = (Number(this.joy) - 100) / 100
            }

            return lerpArray(A, B, t).join(' ');
          }
        },
        methods: {
          down(e){
            e.preventDefault();
            pressed = true;
            this.activated = true;
            this.move(e);
          },
          move(e){
            if(pressed){
              // console.log(e);
              thisPoint = Vec2(e.pageX, e.pageY);
              // this.x = thisPoint.x;
              this.joy = thisPoint.y / 768 * 2 - 1;
            }
          },
          up(e){
            pressed = false;
          },
          done(e) {
            e.preventDefault();
            // var eventOptions = {
            //   value: Math.round(this.joy * 100),
            //   currency: 'JOY',
            //   items: [],
            //   coupon: "Garden Level Opening: Do you like our new space?",
            //   checkout_step: 1,
            //   checkout_option:'face'
            // };
            // gtag('event', 'checkout_progress', eventOptions);

            // console.log('sending event???',eventOptions)

            this.joy = 0.5;
            this.activated = false;
            this.answerMode = false;

            var self = this;
            setTimeout(function(){self.answerMode = true}, self.thanksDelay);
            
            console.log('done')
          },
          toggleAdmin() {
            this.adminMode = (screen.orientation == 90) || (screen.orientation == -90);
            console.log('turned screen',screen.orientation,this.adminMode);
          }
        }
        
      });

      window.addEventListener("orientationchange", function() {
        app.toggleAdmin();
      });
    </script>
  </body>
</html>
