*{
  margin:0;
  box-sizing:border-box;
  font-family:inherit;
}

body{
  font-size:30px;
  font-family:Helvetica, Arial, sans-serif;
  padding:1em;
}

h1{
  font-size:150%;
}

label{
  color:#eee;
  /*text-align: center;
  display: block;*/
  margin:1em;
}

.buttons{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr) ) ;
}

a{
  display:flex;
  flex-basis:200px;
  flex-grow:1;
  text-decoration: none;
  padding:0.5em;
  border:solid 1px grey;
  margin:1em;
  border-radius:1em;
  color:black;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center 0;
  height:26vh;
  flex-direction: column-reverse;
}

a img{
  width:100%;
}

h1,
a label{
  width:100%;
  text-align: center;
  display:block;
}

.awesome{
  background-color:yellow;
  animation-name:select;
  animation-duration: 0.3s;
  animation-timing-function:ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes select {
  0% {
    background-color:yellow;
    transform:scale(0.66);
  }
  100% {
    background-color:transparent;
  }
}
